@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
h1{
  margin: 0;
  padding: 0;
}

/* ---- stats.js ---- */

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.coming-text h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 240%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.wrapper{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
}

.parsect-logo{
  width: 13rem;
  height: 13rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.pixel{
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  box-shadow:
    /* row-1 */
    4rem 0rem 0 -0.05rem #000,
    5rem 0rem 0 -0.05rem #000,
    7rem 0rem 0 -0.05rem #000,
    8rem 0rem 0 -0.05rem #000,

    /* row-2 */
    3rem 1rem 0 -0.05rem #000,
    4rem 1rem 0 -0.05rem #000,
    5rem 1rem 0 -0.05rem #000,
    6rem 1rem 0 -0.05rem #000, /*tengah*/
    7rem 1rem 0 -0.05rem #000,
    8rem 1rem 0 -0.05rem #000,
    9rem 1rem 0 -0.05rem #000,

    /* row-3 */
    3rem 2rem 0 -0.05rem #000,
    4rem 2rem 0 -0.05rem #000,
    5rem 2rem 0 -0.05rem #000,
    6rem 2rem 0 -0.05rem #000, /*tengah*/
    7rem 2rem 0 -0.05rem #000,
    8rem 2rem 0 -0.05rem #000,
    9rem 2rem 0 -0.05rem #000,

    /* row-4 */
    1rem 3rem 0 -0.05rem #000,
    2rem 3rem 0 -0.05rem #000,
    4rem 3rem 0 -0.05rem #000,
    5rem 3rem 0 -0.05rem #000,
    6rem 3rem 0 -0.05rem #000, /*tengah*/
    7rem 3rem 0 -0.05rem #000,
    8rem 3rem 0 -0.05rem #000,
    10rem 3rem 0 -0.05rem #000,
    11rem 3rem 0 -0.05rem #000,

    /* row-5 */
    0rem 4rem 0 -0.05rem #000,
    1rem 4rem 0 -0.05rem #000,
    2rem 4rem 0 -0.05rem #000,
    3rem 4rem 0 -0.05rem #000,
    5rem 4rem 0 -0.05rem #000,
    6rem 4rem 0 -0.05rem #000, /*tengah*/
    7rem 4rem 0 -0.05rem #000,
    9rem 4rem 0 -0.05rem #000,
    10rem 4rem 0 -0.05rem #000,
    11rem 4rem 0 -0.05rem #000,
    12rem 4rem 0 -0.05rem #000,

    /* row-6 */
    0rem 5rem 0 -0.05rem #000,
    1rem 5rem 0 -0.05rem #000,
    2rem 5rem 0 -0.05rem #000,
    3rem 5rem 0 -0.05rem #000,
    4rem 5rem 0 -0.05rem #000,
    6rem 5rem 0 -0.05rem #000, /*tengah*/
    8rem 5rem 0 -0.05rem #000,
    9rem 5rem 0 -0.05rem #000,
    10rem 5rem 0 -0.05rem #000,
    11rem 5rem 0 -0.05rem #000,
    12rem 5rem 0 -0.05rem #000,

    /* row-7 */
    1rem 6rem 0 -0.05rem #000,
    2rem 6rem 0 -0.05rem #000,
    3rem 6rem 0 -0.05rem #000,
    4rem 6rem 0 -0.05rem #000,
    5rem 6rem 0 -0.05rem #000,
    6rem 6rem 0 -0.05rem #000, /*tengah*/ /*CENTER*/
    7rem 6rem 0 -0.05rem #000,
    8rem 6rem 0 -0.05rem #000,
    9rem 6rem 0 -0.05rem #000,
    10rem 6rem 0 -0.05rem #000,
    11rem 6rem 0 -0.05rem #000,

    /* row-8 */
    0rem 7rem 0 -0.05rem #000,
    1rem 7rem 0 -0.05rem #000,
    2rem 7rem 0 -0.05rem #000,
    3rem 7rem 0 -0.05rem #000,
    4rem 7rem 0 -0.05rem #000,
    6rem 7rem 0 -0.05rem #000, /*tengah*/
    8rem 7rem 0 -0.05rem #000,
    9rem 7rem 0 -0.05rem #000,
    10rem 7rem 0 -0.05rem #000,
    11rem 7rem 0 -0.05rem #000,
    12rem 7rem 0 -0.05rem #000,

    /* row-9 */
    0rem 8rem 0 -0.05rem #000,
    1rem 8rem 0 -0.05rem #000,
    2rem 8rem 0 -0.05rem #000,
    3rem 8rem 0 -0.05rem #000,
    5rem 8rem 0 -0.05rem #000,
    6rem 8rem 0 -0.05rem #000, /*tengah*/
    7rem 8rem 0 -0.05rem #000,
    9rem 8rem 0 -0.05rem #000,
    10rem 8rem 0 -0.05rem #000,
    11rem 8rem 0 -0.05rem #000,
    12rem 8rem 0 -0.05rem #000,

    /* row-10 */
    1rem 9rem 0 -0.05rem #000,
    2rem 9rem 0 -0.05rem #000,
    4rem 9rem 0 -0.05rem #000,
    5rem 9rem 0 -0.05rem #000,
    6rem 9rem 0 -0.05rem #000, /*tengah*/
    7rem 9rem 0 -0.05rem #000,
    8rem 9rem 0 -0.05rem #000,
    10rem 9rem 0 -0.05rem #000,
    11rem 9rem 0 -0.05rem #000,

    /* row-11 */
    3rem 10rem 0 -0.05rem #000,
    4rem 10rem 0 -0.05rem #000,
    5rem 10rem 0 -0.05rem #000,
    6rem 10rem 0 -0.05rem #000, /*tengah*/
    7rem 10rem 0 -0.05rem #000,
    8rem 10rem 0 -0.05rem #000,
    9rem 10rem 0 -0.05rem #000,

    /* row-12 */
    3rem 11rem 0 -0.05rem #000,
    4rem 11rem 0 -0.05rem #000,
    5rem 11rem 0 -0.05rem #000,
    6rem 11rem 0 -0.05rem #000, /*tengah*/
    7rem 11rem 0 -0.05rem #000,
    8rem 11rem 0 -0.05rem #000,
    9rem 11rem 0 -0.05rem #000,

    /* row-13 */
    4rem 12rem 0 -0.05rem #000,
    5rem 12rem 0 -0.05rem #000,
    7rem 12rem 0 -0.05rem #000,
    8rem 12rem 0 -0.05rem #000
}